body {
    background-color: #f5f5dd;
}
div {
    width: 200px;
    height: 200px;
    margin: 20px;
}
.kwadrat-1 {
    background-color: rgba(0, 0, 0, 1);
}
.kwadrat-2 {
    background-color: rgba(0, 0, 0, 0.75);
}
.kwadrat-3 {
    background-color: rgba(0, 0, 0, 0.5);
}
.kwadrat-4 {
    background-color: rgba(0, 0, 0, 0.25);
}
